.task__form {
  display: flex;
  width: 90%;
  position: relative;
  align-items: center;
}

.input__form {
  width: 100%;
  border-radius: 25px;
  padding: 1rem 2rem;
  font-size: 1rem;
  border: none;
  transition: 0.5s;  
}

.input__form:focus{
  box-shadow: 0 0 10px 999px rgba(0, 0, 0, 0.1);
  outline: none;
}

.btn__form {
  cursor: pointer;
  font-weight: 600;
  position: absolute;
  width: 2.5rem;
  height: 2.5rem;
  margin: 0.5rem;
  border-radius: 25px;
  right: 0;
  font-size: 0.75rem;
  border: none;
  background-color: #d8bfd8;
  transition: 0.2 all;
  box-shadow: 0 0 2.5px black;
  color: seashell;
}

.btn__form:hover {
  background-color: #d2a1d2;
}

.btn__form:active {
  transform: scale(0.5);
}
